.ls{
    background: #001030;
    color: white;
    height: 75vh;
}
.ls-top{
    padding: 20px;
}
.ls-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ls-nav .logo{
    max-width: 140px;
}
.ls-nav .menu img{
    max-height: 20px;
    opacity: 0.5;
    cursor: pointer;
}
.ls-search{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    padding: 5px 20px;
    background: #092969;
    border-radius: 10px;
}
.ls-search img{
    max-height: 20px;
    opacity: 0.5;
    cursor: pointer;
}
.ls-search input{
    padding: 8px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
}   
.ls-search input::placeholder{
    color: white;
    opacity: 0.9;
}
.ls-list{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
}
.friends img{
    max-width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.friends{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
}
.friends div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.friends span{
    color: #9f9f9f;
    font-size: 11px;
}
.friends:hover{
    background-color: #092969;
}
.friends:hover span{
    color: white;
}


